<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Details</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all"
          href="../../css/gtvg.css" th:href="@{/css/gtvg.css}" />
</head>

<body>

<h1>Szczegoly:</h1><br>
<p th:text="'Imie: ' + ${kot.getImie()}"></p>
<p th:text="'Data urodzenia: ' + ${kot.getDataUrodzenia()}"></p>
<p th:text="'Waga: ' + ${kot.getWaga()}"></p>
<p th:text="'Opiekun: ' + ${kot.getOpiekun()}"></p>

</body>

</html>